.header-menu-wrap {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  padding: 0 20px;
  color: #fff;
  background-color: var(--default-theme);
  .logo {
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

    gap: 4px;
    img {
      width: auto;
      height: 24px;
    }
  }
  .menu-content {
    display: flex;
    align-items: center;

    gap: 16px;
    .left-item {
      font-size: 14px;
      padding: 0 4px;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: var(--default-theme);
        border-color: var(--default-theme);
        border-radius: 4px;
        background-color: #fff;
      }
    }
    .right-item {
      font-size: 20px;
      cursor: pointer;
      user-select: none;
      .org {
        display: flex;
        align-items: center;
        .txt {
          font-size: 14px;
          font-weight: normal;
          margin-right: 6px;
        }
      }
    }
    .divider {
      width: 0;
      height: 20px;
      border-left: 0.5px solid var(--border-color);
    }
    .active {
      position: relative;
      transition:
        left 1.5s,
        width 1.5s;
      &:after {
        position: absolute;
        bottom: -17px;
        left: 4px;
        width: calc(100% - 8px);
        height: 3px;
        content: '';
        background-color: rgb(var(--primary-6));
      }
    }
  }
}
.sider-menu-wrap {
  position: relative;
  display: flex;
  height: 100%;
  background-color: #fff;
  box-shadow: var(--box-show);
  .collapse-btn {
    position: absolute;
    z-index: 10;
    top: 50px;
    right: -12px;
    border-radius: 100%;
    box-shadow: var(--box-show);
  }
  .menu-content {
    width: 180px;
    height: 100%;
    padding: 16px 8px;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding: 8px;
      cursor: pointer;
      border-radius: 4px;

      gap: 6px;
      &:hover {
        background-color: var(--hover-color);
        .triangle {
          visibility: visible;
          opacity: 1;
        }
      }
      .text {
        font-size: 14px;
        width: 110px;
      }
    }
    .active {
      background-color: var(--default-bg);
      .arco-avatar {
        background-color: rgb(var(--primary-6));
      }
    }
  }
  .third-menu {
    height: 100%;
    padding: 16px 8px;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      width: 194px;
      margin-bottom: 8px;
      padding: 8px;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 4px;

      gap: 6px;
      &:hover {
        background-color: var(--hover-color);
        .triangle {
          visibility: visible;
          opacity: 1;
        }
      }
      .text {
        font-size: 14px;
      }
    }
    .active {
      background-color: var(--default-bg);
    }
    .hide {
      visibility: hidden;
      width: 0;
      padding: 0;
      opacity: 0;
      .text {
        font-size: 0;
      }
      .arco-avatar {
        display: none;
      }
    }
    .show {
      visibility: visible;
      opacity: 1;
    }
  }
  .third-menu-border {
    border-left: 1px solid var(--border-color);
  }
}
.theme-form {
  .arco-color-picker-preview,
  .arco-color-picker {
    width: 100%;
  }
  .theme-reset {
    text-align: right;
  }
}
.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgb(var(--primary-6));
  }
}
